In [5]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [6]:
os.chdir("C:/Users/Arunita.000/Desktop/MachineLearning_Classification_Clustering_Regression/ProductClustering")

In [7]:
df=pd.read_csv("skroutz_aggregate.csv")

In [8]:
df.head()

,1,amd ryzen 5 1600 box epexergastis me wraith spire cooler pliromi eos 24 dosis amd,1030,1.1,AMD Ryzen 5 1600 Box,696,CPUs
0,2,amd ryzen 5 1600,3964,1,AMD Ryzen 5 1600 Box,696,CPUs
1,3,amd ryzen 5 1600 box pliromi ke se eos 36 dosis,4814,1,AMD Ryzen 5 1600 Box,696,CPUs
2,4,amd ryzen 5 1600 yd1600bbaebox,4835,1,AMD Ryzen 5 1600 Box,696,CPUs
3,5,amd ryzen 5 1600 box yd1600bbaebox,2976,1,AMD Ryzen 5 1600 Box,696,CPUs
4,6,amd ryzen 5 1600 yd1600bbaebox,3427,1,AMD Ryzen 5 1600 Box,696,CPUs

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238169 entries, 0 to 238168
Data columns (total 7 columns):
 #   Column                                                                             Non-Null Count   Dtype
---  ------                                                                             --------------   -----
 0   1                                                                                  238169 non-null  int64
 1   amd ryzen 5 1600 box epexergastis me wraith spire cooler pliromi eos 24 dosis amd  238169 non-null  object
 2   1030                                                                               238169 non-null  int64
 3   1.1                                                                                238169 non-null  int64
 4   AMD Ryzen 5 1600 Box                                                               238169 non-null  object
 5   696                                                                                238169 non-null  int64
 6   CPUs                                                                               238169 non-null  object
dtypes: int64(4), object(3)
memory usage: 12.7+ MB